.loader-wrapper {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.macaron-loader {
  max-width: 80px;
  margin: 0 20px;
  animation-name: dot;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.macaron-loader:nth-of-type(2) {
  animation-delay: .5s;
}

.macaron-loader:nth-of-type(3) {
  animation-delay: 1s;
}

.macaron-loader:nth-of-type(4) {
  animation-delay: 1.5s;
}

@keyframes dot {
  0% {
    opacity: .2;
    transform: scale(1, 1);
  }

  50% {
    opacity: 1;
    transform: scale(1.2, 1.2);
  }

  100% {
    opacity: .2;
    transform: scale(1, 1);
  }
}
