.loader-wrapper {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loader {
  width: 100%;
  text-align: center;
}

.loader-title {
  font-family: var(--font-sans);
  margin-top: 15px;
  font-size: 20px;
}

.loader-item {
  max-width: 80px;
  margin: 0 20px;
  animation-name: dot;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.loader-item:nth-of-type(2) {
  animation-delay: 375ms;
}

.loader-item:nth-of-type(3) {
  animation-delay: 750ms;
}

.loader-item:nth-of-type(4) {
  animation-delay: 1125ms;
}

@keyframes dot {
  0% {
    opacity: .2;
    transform: scale(1, 1);
  }

  50% {
    opacity: 1;
    transform: scale(1.1, 1.1);
  }

  100% {
    opacity: .2;
    transform: scale(1, 1);
  }
}
